.my-masonry-grid {
    display: flex;
    margin-left: -24px;
    /* gutter size offset */
    width: auto;
}

.my-masonry-grid_column {
    padding-left: 24px;
    /* gutter size */
    background-clip: padding-box;
}